@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
body {
    padding: 0;
    margin: 0;
    background-color: white;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 500px);
    grid-auto-rows: 300px;
    grid-gap: 25px;
}

.grid-item {
    background-color: #ccc;
    border-radius: 20px;
    border: 1px solid #999;
    display: flex;
}

img {
    width: 200px;
    height: 300px;
    border-radius: 20px 0 0 20px;
    object-fit: cover;
}

